# Environment variables & Secrets
.env
.env.local
.env.production
*.pem
*.key

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Backend/uploads/*
!Backend/uploads/.gitkeep

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
frontend/build/
frontend/.dart_tool/
frontend/.pub-cache/
frontend/.pub/

# Operating System & IDEs
.DS_Store
Thumbs.db
*.swp
*.tmp
.idea/
.vscode/
*.iml

# Docker Logs
*.log
docker-data/
mysql_data/
